.main3 {
    display: flex;
    flex-direction: column;
    background-color: var(--cor1);
    height: 90%;
    width: 100%;
    overflow: hidden;
  }
  
  .numeros {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
  }
  
  .mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .um{
    display: flex;
    margin-left: 15%;
    margin-top: 130px;
    background-color: var(--cor4);
    height: 100px;
    width: 280px;
    align-items: center;
    font-size: 30px;
    z-index: 1;
  }
  
  .um img {
    display: flex;
    margin-left: auto;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  #a {
    display: flex;
    margin-left: 20px;
    white-space: nowrap;
    color: var(--cor12);
  }

  .um br{
    color: var(--cor12);
  }

  @keyframes abrir {
    from {
      height: 100px;
      width: 280px;
      margin-left: 15%;
      margin-top: 130px;
    }

    to {
      height: 350px;
      width: 98%;
      margin-left: 20px;
      margin-top: 20px;
    }
  }

  @keyframes fechar {
    from {
      height: 350px;
      width: 98%;
      margin-left: 20px;
      margin-top: 20px;
    }

    to {
      height: 100px;
      width: 280px;
      margin-left: 15%;
      margin-top: 130px;
    }
  }

  @keyframes texto{
    from {
      margin-top: 0px;
    }

    to {
      margin-top: -250px;
    }
  }

  @keyframes texto2 {
    from {
      margin-top: -250px;
    }

    to {
      margin-top: 0px;
    }
  }

  @keyframes setar {
    from {
      margin-left: auto;
      margin-top: 0;
      margin-right: 10px;
      transform: rotate(0deg);
    }

    to {
      margin-left: auto;
      margin-top: -240px;
      margin-right: 1070px;
      transform: rotate(90deg);
    }
  }

  @keyframes desetar {
    from {
      margin-left: auto;
      margin-top: -240px;
      margin-right: 1070px;
      transform: rotate(90deg);
    }

    to {
      margin-left: auto;
      margin-top: 0;
      margin-right: 10px;
      transform: rotate(0deg);
    }
  }

  .mapa1, .mapa2, .mapa3 {
    display: none;
    align-items: center;
    justify-content: center;
    height: 350px;
    font-size: 30px;
  }

  .mapa1 text {
    white-space: pre-wrap;
    text-align: center;
    height: 100%;
    margin-top: 0;
  }

  #img {
    display: flex;
    align-self: flex-end;
    width: 75%;
    height: 710px;
  }

  #img2,  #img3{
    display: flex;
    top: 0;
    align-self: flex-end;
    width: 10%;
    height: 100px;
  }

  @keyframes imagem1{
    from {
      
    }

    to {
      width: 0%;
    }
  }

  @keyframes imagem2 {
    from {
      display: none;
      width: 0;
    }

    to {
      display: flex;
      width: 75%;
    }
  }

  .dois {
    display: flex;
    position: absolute;
    margin-left: 800px;
    margin-top: 50px;
    left: 10px;
    height: 340px;
    width: 900px;
    align-items: center;
    text-align: left;
    font-size: 28px;
}

.dois text {
  color: var(--cor12);
}

.mapa2 text {
  display: flex;
  white-space: normal;
  text-align: center;
  height: 100%;
  margin-top: 200px;
}

.mapa3 text {
  display: flex;
  white-space: normal;
  text-align: center;
  height: 100%;
  margin-top: 100px;
}

#direita {
  display: flex;
  transform: rotate(180deg);
  align-self: flex-end;
  margin-bottom: 30px;
  margin-right: 20px;
}

#esquerda {
  display: flex;
  transform: rotate(360deg);
  margin-left: 20px;
}

@media(min-width: 1300px) and (max-width: 1400px) {
  .um{
    display: flex;
    margin-left: 15%;
    margin-top: 130px;
    background-color: var(--cor4);
    height: 100px;
    width: 280px;
    align-items: center;
    font-size: 19px;
  }

  .dois {
    display: flex;
    position: absolute;
    margin-left: 700px;
    margin-top: 50px;
    left: 10px;
    height: 350px;
    width: 500px;
    align-items: center;
    text-align: left;
    font-size: 19px;
}

#img {
  display: flex;
  align-self: flex-end;
  width: 65%;
  height: 530px;
}

.mapa1, .mapa2, .mapa3 {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: 350px;
  font-size: 20px;
}

.mapa1 text {
  white-space: normal;
  text-align: center;
  height: 50%;
  margin-top: 100px;
  margin-left: 100px;
}

.mapa2 text {
  display: flex;
  white-space: normal;
  text-align: center;
  height: 50%;
  margin-top: 100px;
}

.mapa3 text {
  display: flex;
  white-space: normal;
  text-align: center;
  height: 50%;
  margin-top: 50px;
}

#direita {
  display: flex;
  transform: rotate(180deg);
  align-self: flex-end;
  margin-bottom: 30px;
  margin-right: 20px;
}

#esquerda {
  display: flex;
  transform: rotate(360deg);
  margin-left: 20px;
}



}