.main3 {
    display: flex;
    flex-direction: column;
    background-color: var(--cor1);
    height: 90%;
    width: 100%;
    overflow: hidden;
  }
  
  .numeros {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
  }
  
  .mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .mapa img {
    display: fixed;
    width: 75%;
    height: 710px;
  }

  .mapa--trocar img {
    display: fixed;
    width: 1px;
    height: 710px;
    transition: all .9s;
  }
  
  .um{
    display: flex;
    margin-left: 300px;
    margin-top: 130px;
    background-color: var(--cor4);
    height: 100px;
    width: 280px;
    align-items: center;
    font-size: 30px;
  }
  
  .um img {
    display: flex;
    margin-left: auto;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .um text {
    display: flex;
    margin-left: 20px;
   
    white-space: nowrap;
    color: var(--cor12);
  }

  .um br{
    color: var(--cor12);
  }
  
  .um--abrir {
    display: flex;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    height: 350px;
    width: 98%;
    z-index: 1;
    transition: all .9s;
  }

  .um--abrir text {
    display: flex;
    margin-top: -200px;
    transition: all .9s;
  }

  .mapa1 {
    display: none;
    align-items: center;
    justify-content: center;
    height: 350px;
    font-size: 30px;
  }

  .mapa1 text {
    white-space: pre-wrap;
    text-align: center;
    height: 100%;
    margin-top: 0;
  }

  .mapa1 img {
    display: flex;
    transform: none;
    align-self: flex-end;
  }

  .um--abrir img {
    transform: rotate(90deg);
    margin-top: -230px;
    margin-left: 20px;
    transition: all .9s;
  }

  .dois {
    display: flex;
    position: absolute;
    margin-left: 800px;
    margin-top: 50px;
    left: 10px;
    height: 340px;
    width: 900px;
    align-items: center;
    text-align: left;
    font-size: 28px;
}

.dois text {
  color: var(--cor12);
}

@media(min-width: 1300px) and (max-width: 1400px) {
  .um{
    display: flex;
    margin-left: 200px;
    margin-top: 130px;
    background-color: var(--cor4);
    height: 100px;
    width: 280px;
    align-items: center;
    font-size: 19px;
  }

  .um--abrir {
    display: flex;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    height: 330px;
    width: 98%;
    transition: all .9s;
  }

  .um--abrir text {
    display: flex;
    margin-top: -200px;
    transition: all .9s;
  }

  .dois {
    display: flex;
    position: absolute;
    margin-left: 700px;
    margin-top: 50px;
    left: 10px;
    height: 350px;
    width: 500px;
    align-items: center;
    text-align: left;
    font-size: 19px;
}

.mapa img {
  display: fixed;
  width: 65%;
  height: 530px;
}

.mapa1, .mapa2, .mapa3 {
  display: none;
  align-items: center;
  justify-content: center;
  height: 350px;
  font-size: 20px;
}

.mapa1 text {
  white-space: normal;
  text-align: center;
  height: 100%;
  margin-top: 200px;
}

.mapa2 text {
  display: flex;
  white-space: normal;
  text-align: center;
  height: 100%;
  margin-top: 200px;
}

.mapa3 text {
  display: flex;
  white-space: normal;
  text-align: center;
  height: 100%;
  margin-top: 100px;
}

#direita {
  display: flex;
  transform: rotate(180deg);
  align-self: flex-end;
  margin-bottom: 30px;
  margin-right: 20px;
}

#esquerda {
  display: flex;
  transform: rotate(360deg);
  margin-left: 20px;
}

.mapa1--hide {
  display: none;
  transition: all .9s;
}

}