:root {
    --cor13: rgb(0, 0, 0);
    --cor12: rgb(255, 255, 255);
    --cor1: rgb(255, 93, 108);
    --cor2: rgb(251, 206, 181);
    --cor3: rgb(192, 237, 166);
    --cor4: rgb(222, 255, 139);
    --cor5: rgb(155, 255, 93);
}

.Padrao {
    --cor13: rgb(0, 0, 0);
    --cor12: rgb(255, 255, 255);
    --cor1: rgb(255, 93, 108);
    --cor2: rgb(251, 206, 181);
    --cor3: rgb(192, 237, 166);
    --cor4: rgb(222, 255, 139);
    --cor5: rgb(155, 255, 93);
}

.Lilas {
    --cor13: rgb(0, 0, 0);
    --cor12: rgb(255, 255, 255);
    --cor1: rgb(255, 205, 221);
    --cor2: rgb(234, 153, 213);
    --cor3: rgb(137, 70, 166);
    --cor4: rgb(183, 98, 193);
    --cor5: rgb(205, 43, 170);
}

.Roxo {
    --cor13: rgb(0, 0, 0);
    --cor12: rgb(255, 255, 255);
    --cor1: rgb(233, 213, 218);
    --cor2: rgb(130, 115, 151);
    --cor3: rgb(54, 48, 98);
    --cor4: rgb(77, 76, 125);
    --cor5: rgb(89, 87, 167);
}

.RosaChoque {
    --cor13: rgb(0, 0, 0);
    --cor12: rgb(255, 255, 255);
    --cor1: rgb(230, 62, 109);
    --cor2: rgb(180, 43, 81);
    --cor3: rgb(66, 5, 22);
    --cor4: rgb(125, 25, 53);
    --cor5: rgb(247, 102, 142);
}

.Bege {
    --cor13: rgb(0, 0, 0);
    --cor12: rgb(255, 255, 255);
    --cor1: rgb(248, 236, 209);
    --cor2: rgb(222, 182, 171);
    --cor3: rgb(133, 88, 111);
    --cor4: rgb(172, 125, 136);
    --cor5: rgb(252, 223, 148);
}

.Inverno {
    --cor13: rgb(0, 0, 0);
    --cor12: rgb(255, 255, 255);
    --cor1: rgb(201, 150, 204);
    --cor2: rgb(61, 44, 141);
    --cor3: rgb(28, 12, 91);
    --cor4: rgb(145, 107, 191);
    --cor5: rgb(109, 90, 195);
}

.Limonada {
    --cor13: rgb(0, 0, 0);
    --cor12: rgb(255, 255, 255);
    --cor1: rgb(255, 239, 130);
    --cor2: rgb(239, 211, 69);
    --cor3: rgb(130, 149, 75);
    --cor4: rgb(186, 189, 66);
    --cor5: rgb(221, 225, 38);
}

.CeuLimpo {
    --cor13: rgb(0, 0, 0);
    --cor12: rgb(255, 255, 255);
    --cor1: rgb(232, 249, 253);
    --cor2: rgb(121, 218, 232);
    --cor3: rgb(33, 85, 205);
    --cor4: rgb(10, 161, 221);
    --cor5: rgb(72, 188, 205);
}