
body{
    background-color: #FFCDDD;
    width: 80%;
    height: 0%;
    padding: 58.7px;
    margin: 3.7%;
    border: 0px;
}

a1{
    font-family: 'Oswald', sans-serif;
    color: red;
    cursor: pointer;
}

.del{
    font-family: 'Oswald', sans-serif;
    position: relative;
  right: -35%;
}