body{
    background-color: #FFCDDD;
    width: 80%;
    height: 0%;
    padding: 200px;
    margin: 3.7%;
    border: 0px;
}

h1{
  color: white;
}

.cong{
    background-color: #FFCDDD;
}

.logo{
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
    flex-direction: row;
    height: 145px;
    font-size: 50px;
  }

  h3a{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 20%;
    right: -19.2%;
  }

  h3b{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 35%;
    right: -10.1%;
  }

  .conda{
    font-family: 'Oswald', sans-serif;
    position: fixed;
    top: 35%;
    /*left: -100%;
    */right: 35%;
    height: 30%;
    width: 30%;
    background: #EA99D5;
    border: 5px solid #8946A6;
    border-radius: 5%  ;
    list-style: none;
    text-decoration: none;
  }

  .peso{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 60%;
    right: -45%;
  }

  .exclu{
    position: relative;
    top: 75%;
    right: -10px;
    color: #C70039;
  }

  .lina{
    position: relative;
    border: 0.7px solid #ffffff;
    top: 55%;
    right: -25px;
    width: 90%;
  }

  a2{
    color: #00000000;
  }