:root {
  --cor1: rgb(81, 24, 69);
  --cor2: rgb(144, 12, 63);
  --cor3: rgb(199, 0, 57);
  --cor4: rgb(255, 87, 51);
}

.Padrao {
  --cor1: rgb(81, 24, 69);
  --cor2: rgb(144, 12, 63);
  --cor3: rgb(199, 0, 57);
  --cor4: rgb(255, 87, 51);
}

.Roxo {
  --cor1: rgb(22, 0, 64);
  --cor2: rgb(76, 0, 112);
  --cor3: rgb(121, 1, 140);
  --cor4: rgb(154, 6, 128);
}

.Lilas {
  --cor1: rgb(137, 70, 166);
  --cor2: rgb(183, 98, 193);
  --cor3: rgb(234, 153, 213);
  --cor4: rgb(255, 205, 221);
}

.Inverno {
  --cor1: rgb(28, 12, 91);
  --cor2: rgb(61, 44, 141);
  --cor3: rgb(145, 107, 191);
  --cor4: rgb(201, 150, 204);
}

.RosaChoque {
  --cor1: rgb(66, 5, 22);
  --cor2: rgb(125, 25, 53);
  --cor3: rgb(180, 43, 81);
  --cor4: rgb(230, 62, 109);
}

.Bege {
  --cor1: rgb(248, 236, 209);
  --cor2: rgb(222, 182, 171);
  --cor3: rgb(172, 125, 136);
  --cor4: rgb(133, 88, 111);
}

.Limonada {
  --cor1: rgb(255, 239, 130);
  --cor2: rgb(239, 211, 69);
  --cor3: rgb(186, 189, 66);
  --cor4: rgb(130, 149, 75);
}

.CeuLimpo {
  --cor1: rgb(232, 249, 253);
  --cor2: rgb(121, 218, 232);
  --cor3: rgb(10, 161, 221);
  --cor4: rgb(33, 85, 205);
}

body{
    background-color: var(--cor4);
    width: 80%;
    height: 0%;
    padding: 200px;
    margin: 3.7%;
    border: 0px;
}

h1{
  color: white;
}

.cong{
    background-color: var(--cor4);
}

.logo{
    display: flex;
    margin-top: 0px;
    margin-left: 0px;
    flex-direction: row;
    height: 145px;
    font-size: 50px;
  }

  h3a{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 20%;
    right: -19.2%;
  }

  h3b{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 35%;
    right: -10.1%;
  }

  .conda{
    font-family: 'Oswald', sans-serif;
    position: fixed;
    top: 35%;
    /*left: -100%;
    */right: 35%;
    height: 30%;
    width: 30%;
    background: var(--cor3);
    border: 5px solid var(--cor1);
    border-radius: 5%  ;
    list-style: none;
    text-decoration: none;
  }

  .peso{
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 60%;
    right: -45%;
  }

  .exclu{
    position: relative;
    top: 75%;
    right: -10px;
    color: #C70039;
  }

  .lina{
    position: relative;
    border: 0.7px solid #ffffff;
    top: 55%;
    right: -25px;
    width: 90%;
  }

  a2{
    color: #00000000;
  }