.loader{
    height:130px;
    width:130px;
    border:10px solid var(--cor1);
    border-top-color:var(--cor3);
    border-radius:50%;
    animation:spin 1.5s linear infinite;
    -webkit-animation:spin 1.5s linear infinite;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
  
  @keyframes spin{
    to{
      transform:rotate(360deg);
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      -o-transform:rotate(360deg);
}
  }

  /*<div class="loader">
    </div>